<div class="tracklist">
  <h4>Butane</h4>
  <ol>
  <li><p>Esther</p></li>
  <li><p>Rays Stretched Into Existence</p></li>
  <li><p>Distant</p></li>
  <li><p>Within Vision</p></li>
  <li><p>Psychospaces: Gardenfors Hopping Forth</p></li>
  <li><p>Proof of Percept</p></li>
  <li><p>1998 Silver Shimmer</p></li>
  <li><p>Thin Stream of Smoke</p></li>
  <li><p>Ex-halations</p></li>
  </ol>
</div>
<%= render 'components/footer-nav' %>
