<div class="tracklist">
  <h4>Cookies are Media - Jenny Nicholson</h4>
  <ol>
    <li><p>McLuhan Knew This</p></li>
    <li><p>Warm Milk</p></li>
    <li><p>Snuggles</p></li>
    <li><p>Ridiculous but Entertainingly So</p></li>
    <li><p>Sapphic Hairbrush (Air Touch)</p></li>
    <li><p>She Knows What She Likes</p></li>
    <li><p>Women Be Thinking Critically</p></li>
  </ol>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/BZeVfn_8ajk?start=885" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<%= render 'components/footer-nav' %>
