<div class="tracklist">
  <ol>
    <li><p>Plunger</p></li>
    <li><p>Xurn</p></li>
    <li><p>Aleotoroscope</p></li>
    <li><p>Merovingian</p></li>
    <li><p>13</p></li>
    <li><p>enjoi LA</p></li>
    <li><p>Swoop</p></li>
    <li><p>Bagged Plastics</p></li>
    <li><p>The Opening's Closed</p></li>
  </ol>
</div>

<%= render 'components/footer-nav' %>
