<div class="tracklist">
  <h4>lil $leepy - Porta Xan</h4>
  <ol>
    <li><p>SKRRTING</p></li>
    <li><p>Candi GLOSS</p></li>
    <li><p>Colourful Puddles</p></li>
    <li><p>i'mma yort</p></li>
    <li><p>Voices In Her Eyes</p></li>
    <li><p>SKEETING</p></li>
    <li><p>SHITTING BRICKS</p></li>
    <li><p>nexopia</p></li>
    <li><p>WET SPELL</p></li>
    <li><p>squirt 2: yeet</p></li>
  </ol>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/BGKL54xuSE8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>
<br>
<br>
<%= render 'components/footer-nav' %>
