.home-container {
  display: flex;
  justify-content: center;
  text-align: justify;
}

#face {
  margin-left: 25px;
}

.bio {
  display: block;
  margin-left: 25px;
  width: 700px;
}

.contact {
  display: flex;
  justify-content: center;
}
.links {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-left: 3px;
  margin-bottom: 25px;
}
