.home-container {
  display: flex;
  position: relative;
  justify-content: center;
}
.face {
  position: absolute;
  left: 25px;
}
.bio {
  position: absolute;
  top: 200px;
  h4, h5 {
    text-align: left;
  }
  p {
    text-align: left !important;
  }
  width: 700px;
}
