.image-container {
}

.image-card {
  padding-top: 25px;
  height: 280px;
  width: 420px;
  margin: 10px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 24px;
  }
}

.image-card:hover {
  background-size: cover;
  p {
    display: none;
  }
}

.image-row {
  padding: 48px;
  display: flex;
  justify-content: space-around;
}

#photos-card {
  background-image: url("https://i.imgur.com/XQBS2ZK.jpg");
}

#photos-card:hover {
  background-image: url("https://i.imgur.com/thb8znE.jpg");
  background-position: 45%;
}

#graphics-card {
  background-image: url("https://i.imgur.com/OVaBq2f.jpg");
  p {
    color: black;
  }
  background-size: 100%;
}

#graphics-card:hover {
  background-image: url("https://i.imgur.com/C4old2z.jpg");
  background-position: 50% 80%;
  background-size: 90%;
}

#gpg-card {
  background-image: url("https://i.imgur.com/ab4IsH1.jpg");
  background-size: cover;
  background-position: 40%;
}

#gpg-card:hover {
  background-image: url("https://i.imgur.com/QmFXHI1.jpg");
  background-size: 90%;
}

#drawings-card {
  p {
    color: black;
  }
  background-image: url("https://i.imgur.com/GT7oS6l.jpg");
}

#rhyparography-card {
  background-image: url("https://i.imgur.com/PxZtiaL.jpg");
  p {
    color: black;
  }
}

#rhyparography-card:hover {
  background-image: url("https://i.imgur.com/uoJ3h7d.jpg");
  background-position: 0% -40%;
}
