.music-container {
  height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#aw-card {
  background: image-url("angels.JPG");
  background-size: cover;
  margin: 20px;
}

#aw-card:hover {
  background: image-url("annihilation.png");
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: 0% 0%;
}

#om-card {
  background: image-url("lilia2.png");
  background-size: cover;
  margin: 20px;
}

#om-card:hover {
  background: image-url('OM_BLUR.jpg');
  background-size: cover;
}
