.word-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#fa-card {
  background-image: url("https://i.imgur.com/5iaetEM.jpg");
  background-size: cover;
}

#ws-card {
  background-image: url("https://i.imgur.com/gExXXBn.jpg");
  background-size: cover;
}
