<div class="home-container">
    <div id="face">
      <%= image_tag "https://i.imgur.com/QQU3Htt.jpg", id: "face", width: "240px"; %>
      <%= image_tag "https://i.imgur.com/09Jvrme.png", id: "magic-realism", width: "240px" %>
    </div>
    <div class="bio">
      <h4>Alexander Mystery Summers Weir</h4>
      <p>
        I am a writer, filmmaker, rapper, full stack Rails developer, photographer, illustrator, cognitive science enthusiast, and whatever else I can be in order to capture reality and conjure thought.
      </p>
      <p>
        Life is the universe experiencing itself. Through art, language, and media we can maximize the total number of experiences available and thus live life to the fullest possible extent.
      </p>
      <p>Carpe Diem:</p>
      <div class="contact">
        <ul class="links list-inline"">
          <a href="mailto:CryptoPynchon@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
          <a href="https://www.twitter.com/Clever_Metaname"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="https://www.instagram.com/twerknowitzki"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/alexander-weir-223103169/"><i class="fab fa-linkedin fa-lg"></i></a>
        </ul>
      </div>
    </div>
</div>
