<div class="home-container">
  <div class="bio">
    <%= image_tag "https://i.imgur.com/QQU3Htt.jpg", width: "240px"; %>
  </div>
  <div class="twitter-div">
    <h3>240 Character Constraint Poetry</h3>
    <a class="twitter-timeline" data-lang="en" data-width="500" data-height="500" data-link-color="#e28ef9" href="https://twitter.com/Clever_MetaName?ref_src=twsrc%5Etfw"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
