<div class="image-container">
  <div class="image-row">
    <div class="row">
      <a href="<%= photos_path %>" class="image-card col-xs-12" id="photos-card"><p>Photos</p>
      </a>
      <a href="<%= graphics_path %>" class="image-card col-xs-12" id="graphics-card">
        <p>Graphics</p>
      </a>
    </div>
  </div>
  <div class="image-row">
    <div class="row">
      <a href="<%= rhyparography_path %>" class="image-card col-xs-12" id="rhyparography-card">
        <p>Rhyparography</p>
      </a>
      <a href="<%= gals_point_guns_path %>" class="image-card" col-xs-12 id="gpg-card">
        <p>Gals Point Guns</p>
      </a>
    </div>
  </div>
</div>
