<div class="music-container">
    <a href="<%= aw_path %>" class="card" id="aw-card"><p>Alex Weird</p>
    </a>
  <a href="<%= om_path %> " class="card" id="om-card"><p>Ororo Mohawk</p>
  </a>
</div>
