<div class="music-container">
  <div class="row">
    <a href="<%= aw_path %>" class="card col-xs-12 col-sm-6 col-md-4 col-lg-3" id="aw-card"><p>Alex Weird</p></a>
    <a href="<%= om_path %> " class="card col-xs-12 col-sm-6 col-md-4 col-lg-3" id="om-card"><p>Ororo Mohawk</p></a>
  </div>
</div>
