<h5>Rhyparography</h5>
<h6>/ɹɪ.pəˈɹɒ.ɡɹə.fi/</h6>
<p><em>(arts) The painting or literary depiction of mean or sordid things; especially still-life or genre painting. <br> From Ancient Greek ῥύπος (rhúpos, “filth”) +‎ -graphy.</em></p>
<p>The aim is to emulate the vivid grotesquery of a <span><em><a href="https://www.google.com/search?q=spongebob+close+up" style="color:#fefcff">Spongebob Close Up</a></em></span>.<br>I delight in perverse, revolting, and hideous things because there is a beautiful absurdity to ugliness.</p>
<p></p>
