<div class="container">
  <h2>Stream-of-Consciousness, Non-Sequitur Wordsmithery</h2>
  <p>Cubism, The Kuleshov Effect, Ludovico Technique, Simultaneous Contrast, Hypertext, Hypomanic Flight of Ideas, Hypnagogic Inner Monologue, Surrealism, Word Salad, Verbal Diarrhea, Jumpcutting, Randomness, Free-Association, Dada, Avant-Garde, Nonsense Poetry, Procedurally Generated Language Objects, Mistranslations, Brainstorming, Disjunction, Juxtaposition, Curation, Appropriation, Culture Jamming, Bricolage, Fractured-Yet-Flowing, The Poetics of Social Media Feeds, Abstract Impressionism, Jackson Pollock Shotgun Blast<br>"<em>He said the song didn't have to make sense as long as vivid images filled it.</em>"</p>
  <%= image_tag "https://i.imgur.com/GJqZ9Sq.jpg", width: "240px" %>
  <p><em>“I don’t know why people want art to make sense. They accept the fact that life doesn’t.”</em> – David Lynch</p>
  <p><em>“What goes on inside is just too fast and huge and all interconnected for words to do more than barely sketch the outlines of at most one tiny little part of it at any given instant.”</em> – DFW</p>
  <p><em>"Eventually I concluded that language was bigger than the universe..." - Mike Alder</em></p>
  <p>Eye Stream</p>
  <p>whether by VR pod or brain chip, we will choose to lose ourselves in a quasar of random experiences and concepts. schizophrenic omniscience</p>
  <p>Channel surfing</p>
  <p>Mindless scrolling</p>
  <p>Pitches. Prompts. Flash fiction.</p>
  <p>Snapshots, koans, vignettes, epiphanies, skits, sketches, haikus, Concepts, moods, moodboards, text-form vines, youtube poop, @dril tweets, Will Laren paintings.</p>
  <p>Scenes over story. Sensation over sense.</p>
  <p>Aesop never needed novels to tell his tales.</p>
  <p>Schizophrenic Omniscience</p>
  <p>Selected Ambient Words</p>
  <p>Photo Albums</p>
  <p>Photomontage</p>
  <p>Synthesis</p>
  <p>Emergence</p>
  <p>Statistical Mechanics as Literature</p>
  <p>Coherence distilled from a chaotic whole</p>
  <%= image_tag "https://i.imgur.com/iLpiUiC.jpg" %>
</div>
