<div class="word-container">
  <h2>Stream-of-Consciousness Wordsmithery</h2>
  <h4>Simplicity & Randomness.</h4>
  <p>Aside from my
    <a href="/videos#video-essays">
      video essays <%= image_tag "link-symbol.svg", width: "10px" %>
    </a>
  and
  <a href="/music/om#lyrics"> lyrics <%= image_tag "link-symbol.svg", width: "10px" %></a>, I am currently working on a cubist poetry book called Non-Sequitur.</p>
  <p>The idea is to write / curate the literary equivalent of a moodboard:</p>
  <a href="https://loonaelipse.tumblr.com/post/178399345591/tdrokis">
    <%= image_tag "https://pbs.twimg.com/media/DwxBIWMX4AAHKGd.jpg"%>
  </a>
  <p>While that is on the way, you can catch glimpses of the process on twitter:</p>
  <a href="https://www.twitter.com/Clever_Metaname"><i class="fab fa-twitter fa-lg"></i><p>@Clever_Metaname</p></a>
</div>
