<div class="container">
  <h2>Stream-of-Consciousness, Non-Sequitur Wordsmithery</h2>
  <h4>Embrace simplicity & randomness.</h4>

  <p></p>
  <p></p>
  <p>Our lives are slivers of light wedged between two infinite voids. We came out of nothingness into a world of literally everything as we know it. Before we return to black nothingness, I want to explore and experience as much of Everything as we can.

  <p>The easiest way to do this within our limited time frame is through language. We can create an unfathomable amount of mental experiences through the simple permutation of words. (Regardless of whether the permutations make literal sense or not. Sensation > Sense)
  </p>
  <p>"<em>He said the song didn't have to make sense as long as vivid images filled it.</em>" - Rich Terfry, <em>Wicked and Weird (132)</em></p>
  “A reader lives a thousand lives”. Instead of long-form books, I am scaling this principle down to the level of sentences and situations. With every new string of words, another experience is conjured.
This pursuit does not spare me from death, of course. But it is a method for me to embrace life.
</p>
</div>
