<div class="word-container">
  <h2>Stream-of-Consciousness, Non-Sequitur Wordsmithery</h2>
  <h4>Simplicity & Randomness.</h4>
  <p>Cubism</p>
  <p>Abstract Impressionism</p>
  <p>Jackson Pollock Shotgun Blast</p>
  <p>Moodboards</p>
  <a href="https://loonaelipse.tumblr.com/post/178399345591/tdrokis">
    <%= image_tag "https://pbs.twimg.com/media/DwxBIWMX4AAHKGd.jpg"%>
  </a>
  <p>The Kuleshov Effect</p>
  <p>Jumpcutting</p>
  <p>Hypomanic Flight of Ideas</p>
  <p>Hypnagogic Visions</p>
  <p>Surrealism</p>
  <p>Dada</p>
  <p>Avant-Garde</p>
  <p>Word Salad</p>
  <p>Verbal Diarrhea</p>
  <p>Free-Association</p>
  <p>Brainstorming</p>
  <p>Nonsense Poetry</p>
  <p>Procedurally Generated Language Objects</p>
  <p>Markov Chains</p>
  <p>Mistranslations</p>
  <p>Disjunction</p>
  <p>Juxtaposition</p>
  <p>Remix</p>
  <p>Mashup</p>
  <p>Curation</p>
  <p>Appropriation</p>
  <p>Culture Jamming</p>
  <p>Bricolage</p>
  <p>Senation > Sense</p>
  <p>"He said the song didn't have to make sense as long as vivid images filled it."</p>
  <p>Flow of Fragments</p>
  <p>Inundation</p>
  <p>Ludovico Technique Literature</p>
  <%= image_tag "https://i.imgur.com/leHM7w8.gif" %>
  <p>The disjointed omniscience of social media feeds</p>
  <%= image_tag "https://i.imgur.com/GJqZ9Sq.jpg", width: "300px"; %>
  <p>Web Browsing</p>
  <p>Adrian Veidt Channel Surfing</p>
  <%= image_tag "https://i.imgur.com/iLpiUiC.jpg" %>
  <p>Synthesizing hidden patterns out of noise</p>
  <p>Emergent Coherence From Endless Chaos</p>
  <p>Statistical Mechanics as Poetry</p>
  <p>photo albums in writing</p>
  <p>Snapshots</p>
  <p>koans</p>
  <p>vignettes</p>
  <p>epiphanies</p>
  <p>skits & sketches</p>
  <a href="https://memedocumentation.tumblr.com/post/131890433600/explained-concept-meme"><p>Concepts</p></a>
  <p>big moods</p>
  <p>text-form vines</p>
  <p>the poetics of ytp</p>
  <p>Parables</p>
  <p>Aesop never needed novels to tell his tales.</p>
</div>
