<h4>selected ambient words</h4>
<p>Check out my <a href="/videos#video-essays">video essays<%= image_tag "link-symbol.svg", width: "10px" %></a> and <a href="/music/om#lyrics"> lyrics <%= image_tag "link-symbol.svg", width: "10px" %></a> located elsewhere on the site.</p>
<div class="word-container">
  <a href="/fake-albums" class="image-card" id="fa-card"><p>fake albums</p>
  </a>
  <a href="/word-salad" class="image-card" id="ws-card"><p>word salad</p>
  </a>
</div>
