.aw-container {
  justify-content: center;
}

@media (min-width: 800px) {
  .aw-tracklist {
    margin-left: 135px;
    justify-content: space-around;
  }
}

.aw-track {
  margin-right: 50px;
}

#sunset-laughter {
}
