<div class="om-container">
  <div class="row">
    <iframe class="col-xs-12 col-lg-3" style="border: 0; width: 350px; height: 620px;" src="https://bandcamp.com/EmbeddedPlayer/album=1912500894/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/transparent=true/" seamless><a href="http://ororomohawk.bandcamp.com/album/lilith">LILITH by Ororo Mohawk</a></iframe>
    <iframe class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="border: 0; width: 350px; height: 620px;" src="https://bandcamp.com/EmbeddedPlayer/album=4101184538/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/transparent=true/" seamless><a href="http://ororomohawk.bandcamp.com/album/hyperbolic-rhyme-chamber">Hyperbolic Rhyme Chamber by Ororo Mohawk</a></iframe>
    <iframe class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="border: 0; width: 350px; height: 620px;" src="https://bandcamp.com/EmbeddedPlayer/album=3869942056/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/transparent=true/" seamless><a href="http://ororomohawk.bandcamp.com/album/wing-zero">wing ZERO by Ororo Mohawk</a></iframe>
  </div>
</div>
