// .fa-container {
//   display: flex;
//   justify-content: space-around;
// }

.record-store {
  float: right;
  li {
    display: inline;
  }
}

.record {
  width: 420px;
  margin: 20px;
  img {
    padding: 10px;
  }
}

.tracklist {

  padding-bottom: 28px;

}
