// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "music/index";
@import "pages/videos";
@import "videos/index";
@import "images/index";
@import "writings/index";

// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, h1, h2, h3, h4, h5, h6, a, p {
  font-family: Helvetica;
  color: #fefcff;
  text-decoration: none;
  text-align: center;
}

*::selection {
  background: #FFAEF4; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: #FFAEF4; /* Gecko Browsers */
}

body {
  padding-bottom: 50px;
}

.card {
  box-shadow: 3px;
}

a:hover {
  text-decoration: none;
  color: #FFAEF4 !important;
  opacity: 0.8;
}

html, body {
  margin: 0;
  background-color: #000000;
}

.row {
  padding-top: 25px;
  padding-bottom: 25px;
  background-size: cover;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }
}
/* Build your own button classes ! */
