<div class="gpg-container">
  <div class="about">
    <h4>Gals Point Guns</h4>
    <p>An appropriation-based art project meditating on themes of objectification, violence, power, and desire as found in the tense marriage of woman and firearm.</p>
  </div>
  <div id="pixlee_container">

  </div>
</div>
<script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'OQxx65eYd5RAy1MdBEk_'});Pixlee.addSimpleWidget({widgetId:'13816'});};</script><script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
